@using Scheds.Models
@model ReturnedCardItem

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<div class="cardm">
  <div class="card">
    <div class="main">@Model.courseCode: @Model.courseName</div>
  </div>

  <div class="card2">
    <div class="upper">
      <div class="instructor">
        @Model.instructorName

      </div>

      <div class="credits">
        <div class="creditstext">Credits: @Model.credits CH</div>

      </div>
    </div>

    <div class="lower">
      <div class="schedule">
        <i class="fa-regular fa-clock"></i>
        <div class="scheduletext">@Model.day,<br> @Model.startTime.ToString(@"hh\:mm") -
          @Model.endTime.ToString(@"hh\:mm")</div>
      </div>
      <div class="room">
        <div class="roomtext">Room: @Model.room</div>
      </div>

      <div class="card3">
        <p class="seatstext">
          @Model.subType - @Model.section
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .cardm {
    display: flex;
    align-items: center;
    justify-content: center;
    @* margin: 1em; *@
    margin-bottom: 2em;
  @*margin-bottom:20em;*@
  }

  .card {
    position: relative;
    width: 149px;
    height: 80px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: whitesmoke;
    color: black;
    z-index: 2;
    transition: .4s ease-in-out;
    @* border:1px solid rgb(0, 24, 37); *@

  }

  .main {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 3.6em;
  }

  .mainsub {
    font-size: 0.8em;
    margin: 0.5em;
    font-weight: 600;

  }

  .card2 {
    position: relative;
    display: flex;
    flex-direction: row;
    
    width: 150px;
    height: 80px;
    margin-left: -151px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: white;
    z-index: 1;
    transition: .4s ease-in-out;
    border:1px solid rgb(0, 24, 37);

  }

  .card:hover {
    background-color: rgb(193, 210, 218);
    cursor: pointer;
  }

  .card:hover +.card2 {
    height: 190px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 20px;

  }

  .card:hover+.card2 .lower {
    top: 10.2em;
  }

  .upper {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    left: 1.0em;
    top: 0.5em;
    gap: .2em;
  }

  .instructor {

    font-size: 0.8em;
    font-weight: 700;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 1.2em;


  }

  .creditstext {
    font-size: 0.7em;
    font-weight: 500;
  }

  .lower {
    display: flex;
    flex-direction: column;
    position: absolute;
  @*text-align:center;*@color: black;
    left: 1em;
    top: 1em;
    gap: 0.5em;
    margin-top: 0.7em;
    font-size: 0.7em;
    transition: .4s ease-in-out;
  }

  .schedule {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;

  }

  .room {
    font-size: 1.2em;
    font-weight: 700;
  }

  .card3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    top: 4.4em;
    left: -12px;
    font-size: 1.24em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(0, 80, 120);
    transition: .4s ease-in-out;
    border:1px solid rgb(0, 24, 37);

  }

  .seatstext {
    font-size: 1em;
    color: white;
    font-weight: 600;
  }
</style>