@using Scheds.Models
@model ReturnedCardItem

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<div class="cardm1">
  <div class="card1">
    <div class="main1">@Model.courseCode: @Model.courseName</div>
    <div class="mainsub1">
      @Model.instructorName

    </div>
  </div>

  <div class="card21">
    <div class="upper1">
      <div class="instructor1">
        Seats Left: @Model.seatsLeft

      </div>

      <div class="credits">
        <div class="creditstext1">Credits: @Model.credits CH</div>

      </div>
    </div>

    <div class="lower1">
      <div class="schedule-text1">
        <i class="fa-regular fa-clock"></i>
        <div class="scheduletext">@Model.day,<br> @Model.startTime.ToString(@"hh\:mm") -
          @Model.endTime.ToString(@"hh\:mm")</div>
      </div>
      <div class="room1">
        <div class="roomtext">Room: @Model.room</div>
      </div>

      <div class="card31">
        <p class="seatstext1">
           @Model.section
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .cardm1 {
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5em;
  transition: 0.4s ease-in-out;
}

.card1 {
  position: relative;
  width: 149px;
  height: 45px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: var(--light-text);
  color: var(--dark);
  z-index: 2;
  transition: 0.4s ease-in-out;
}

.main1 {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0.4em;
  padding-bottom: 0em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1em;
  max-height: 1.1em;
}

.mainsub1 {
  font-size: 0.75em;
  margin: 0.4em;
  margin-left: 0.6em;
  margin-top: 0.3em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1em;
  max-height: 1.1em;
}

.card21 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 149px;
  height: 30px;
  margin-left: -150px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--light-text);  
  z-index: 1;
  transition: 0.4s ease-in-out;
  border: 1px solid var(--lighter-dark);
}

.cardm1:hover .lower1 {
  top: 8.33em;
}

.cardm1:hover .card21 {
  height: 140px;
  cursor:cell;
  margin-top: 10px;
}

.cardm1:hover .card31 {
  height: 140px;
  cursor: cell;
  top: -5.1em;
}
.cardm1:hover .card1 {
  background-color: rgb(213, 231, 240);
  cursor: cell;
}
.card1:hover {
  background-color: rgb(213, 231, 240);
  cursor: cell;
}


.upper1 {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--dark);
  left: 1.0em;
  top: 0.5em;
  gap: 0.2em;
}

.instructor1 {
  font-size: 0.75em;
  font-weight: 700;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 1.2em;
}

.creditstext1 {
  font-size: 0.65em;
  font-weight: 500;
}

.lower1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--dark);
  left: 1em;
  top: 0em;
  gap: 0.5em;
  margin-top: -0.5em;
  font-size: 0.65em;
  transition: top 0.4s ease-in-out; /* Smooth transition for the top property */
}

.schedule-text1 {
  margin-top: 0.8em;
  font-weight: 600;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.room1 {
  font-size: 1em;
  font-weight: 700;
}

.card31 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 45px;
  top: -0.15em;
  left: -40px;
  font-size: 1.1em;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: var(--light-blue);
  transition: 0.4s ease-in-out;
  @* writing-mode:vertical-rl; *@
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.seatstext1 {
  font-size: 0.7em;
  color: var(--light-text);
  font-weight: 600;
  @* rotate: 180deg; *@
}

</style>